# Node
node_modules/
.pnpm-store/
.next/
dist/
.turbo/


# Logs
*.log

# Env
.env
.env.local
.env.*.local
contracts/.env
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/deployments/

# OS
.DS_Store

# Java (Spring)
target/
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
target/